/* -------------general----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
  /*scroll baja*/
  scroll-behavior: smooth;
}
body {
  background: #100e17;
  color: white;
}


.contenedor {
  padding: 100px 0;
  width: 90%;
  max-width: 1200px;
  overflow: hidden; 
  margin: auto;
}

.fondocontenedor {
  background-image: url(../images/fondo.jpg);
}

.titulo {
  color: rgba(255, 255, 255, 0.932);
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}

button {
  background-color: #0bceaf;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: ivory;
  color: #0bceaf;
}

/* -------------header----------*/
header {
  width: 100%;
  height: auto;
  background-image: url(../images/fondo.jpg);
  background-attachment: fixed; /*efecto slider*/
  background-size: cover; /*cubrela proporcion de la pagina */
  position: relative;
}


/* -------------menu----------*/
.topnav {
  text-align: center;
  padding: 30px 0 30px 0;
  position: fixed;
  width: 100%;
  height:auto;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.topnav > a {
  color: seashell;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-right: 30px;
  padding-bottom: 10px;
}

.topnav > a:hover {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid white;
}

.topnav .icon{
  display: none;
}

/* -------------header----------*/
.contenedor-header {
  display: flex;
  padding-top: 180px;
  width: 100%;
  height: auto;
  justify-content: space-around;
}

.botonheader {
  border-radius: 25px 25px 25px 0;
  transition: 0.4s;
}

.botonheader:hover {
  background-color: #f5f4ca;
  color: #40cebd;
}

.izquierda-header h1 {
  font-size: 60px;
  font-weight: 500;
}

.izquierda-header h2 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 30px;
}

.izquierda-header ul li {
  list-style: none;
  padding-bottom: 10px;
  font-weight: 400;
  color: rgba(245, 245, 245, 0.877);
}

.izquierda-header i {
  color: white;
  padding-right: 10px;
}

.redes {
  padding-top: 30px;
}

.redes ul li {
  list-style: none;
  color: white;
  padding-right: 15px;
  display: inline;
}

.imagenheader {
  width: 400px;
  border-radius: 50%;
  height: auto;
  padding: 20px;
  border: 20px black solid;
  margin-bottom: 80px;
}

.imagenheader:hover {
  border-color:  #0bceaf ;
}

/*--------------------------About me*----------------*/

.contenedor-principal-about-me {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imagen-about-me {
  width: 40%;
  margin: auto;
}

.contenedor-about-me {
  width: 40%;
  margin: auto;
}

.titulo-about-me {
  color: white;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contenedor-about-me p {
  font-size: 15px;
  line-height: 1.5;
}

.bloque-textos-con-bordes {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 20px 0;
}

.texto-con-borde {
  border: 1px solid #0bceaf;
  padding: 4px;
  margin: 5px;
  border-radius: 5px;
}

/*------------------------- what i do----------------*/

.contenedor-what-i-ido {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}

.caja-what-i-do {
  background: #1f1e24;
  width: 30%;
  height: auto;
  border: black solid 1px;
  word-wrap: break-word;
  box-shadow: 0px 1px 18px 3px rgba(0, 0, 0, 0.75);
  padding: 25px;
}

.caja-what-i-do p {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.795);
  font-size: 15px;
}

.caja-what-i-do .violeta {
  font-size: 25px;
  color: #8165de;
}

.caja-what-i-do .naranja {
  font-size: 25px;
  color: #ce6b4b;
}

.caja-what-i-do .azul {
  font-size: 25px;
  color: #2a89cd;
}

.titulo-whatido {
  font-weight: 500;
  font-size: 26px;
  margin: 20px 0;
}

#whatido {
  font-size: 35px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.911);
}

/*------------------------- featured project----------------*/

.contenedor-featured-projects {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px;
}

.imagen-projects {
  width: 55%;
}

.contenido-projects {
  width: 37%;
}

.titulo-verde-projects {
  color: #0ca593;
  font-size: 15px;
  margin-bottom: 12px;
}

.contenido-projects h1 {
  font-size: 33px;
  font-weight: 500;
  margin-bottom: 12px;
}

.contenido-projects h2 {
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 400;
}

.contenido-projects p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.contenido-projects button {
  margin-bottom: 25px;
}

.contenido-projects .autor-projects {
  font-size: 18px;
  font-weight: 500;
}

/*------------------------- Education work----------------*/

.contenedor-education-work {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.education {
  width: 46%;
}

.work {
  width: 46%;
}

.contenido-education {
  background: #1f1e24;
  width: 100%;
  height: auto;
  border: black solid 1px;
  word-wrap: break-word;
  box-shadow: 0px 1px 18px 3px rgba(0, 0, 0, 0.75);
  margin-bottom: 25px;
  padding: 25px;
}

.titulo-education-work {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 15px;
}

.resaltado-education-work {
  color: #0ca593;
  font-style: italic;
}

.subtitulo-education-work {
  color: #0ca593;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contenedor-education-work p {
  font-size: 15px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.795);
}

.contenedor-education-work ul {
  padding-left: 20px;
  line-height: 1.5;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.795);
}

.tituloew {
  color: rgba(255, 255, 255, 0.918);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 50px;
}
/*------------------------- portfolio----------------*/

.contenedor-portfolio {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contenedorfoto {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}

.contenedorfoto img {
  outline: 20px solid #40cebd;
  outline-offset: -12px;
}

.imagensecundaria {
  position: absolute;
  top: 0;
  font-size: 150px;
  background: #40cebd;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: transform 0.5s;
}

.contenedorfoto:hover .imagensecundaria {
  transform: scale(1);
}

/*------------------------- interested----------------*/

.contenedor-interested {
  display: flex;
  width: 100%;
}

.subcontenedor-interested {
  width: 45%;
}

.contenedor-interested h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contenedor-interested p {
  font-size: 15px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.795);
  margin-bottom: 15px;
}

/*------------------------- pricing table----------------*/

.contenedor-pricing-table {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.bloque-pricing {
  width: 30%;
  height: auto;
  text-align: center;
  padding: 30px;
  border: black solid 1px;
  word-wrap: break-word;
  box-shadow: 0px 1px 18px 3px rgba(0, 0, 0, 0.75);
  background: #1f1e24;
}

.bloque-pricing i {
  font-size: 32px;
  margin-bottom: 35px;
  color: #40cebd;
}

.bloque-pricing h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.precio {
  font-size: 40px;
  color: #40cebd;
  font-weight: 500;
  margin: 30px 0;
}

.bloque-pricing p {
  font-size: 15px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.795);
  margin-bottom: 0, 9;
}
.bloque-pricing button {
  margin-top: 30px;
}

/*------------------------- Featured Post----------------*/

.contenedor-featured-posts {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.bloque-featured-posts {
  width: 30%;
  height: auto;
  padding: 0px;
  border: black solid 1px;
  word-wrap: break-word;
  box-shadow: 0px 1px 18px 3px rgba(0, 0, 0, 0.75);
  background: #1f1e24;
  border-radius: 15px 15px 0px 0px;
}

.bloque-featured-posts img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.sub-bloque-featured {
  padding: 20px;
}

.bloque-featured-posts h2 {
  font-size: 25px;
  font-weight: 500;
  color: rgba(240, 255, 240, 0.877);
  margin-bottom: 10px;
}

.sub-bloque-featured p {
  font-size: 15px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.795);
  margin-bottom: 10px;
}

.bloque-featured-posts a {
  text-decoration: none;
  color: #0ca593;
  font-size: 15px;
}

/*------------------------- clients -rewiews----------------*/

.contenedor-clients-reviews {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.bloque-cliente {
  width: 30%;
  height: auto;
  text-align: center;
  padding: 20px;
  border: black solid 1px;
  word-wrap: break-word;
  box-shadow: 0px 1px 18px 3px rgba(0, 0, 0, 0.75);
  background: #1f1e24;
}

.bloque-cliente img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid;
  color: #0ca593;
  margin-bottom: 20px;
}

.bloque-cliente p {
  font-size: 15px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.795);
  margin-bottom: 40px;
}

.bloque-cliente h5 {
  font-size: 15px;
  font-weight: 400;
}

/*------------------------- contact-me----------------*/

.contenedor-contact-me {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.subcontenedor-contact-me {
  width: 40%;
}

.datos-contact-me {
  display: flex;
  padding: 20px;
  border: black solid 1px;
  word-wrap: break-word;
  box-shadow: 0px 1px 18px 3px rgba(0, 0, 0, 0.75);
  background: #1f1e24;
  margin-bottom: 10px;
}

.contenedor-contact-me i {
  font-size: 22px;
  padding: 35px;
  border-radius: 50%;
  border: 1px solid #0ca593;
  margin-right: 40px;
}
.contenedor-contact-me i:hover{
 background: rgba(0, 0, 0, 0.75);
}

.contenedor-contact-me a{
  color: white;
}

.contenido-texto-contact h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.contenido-texto-contact p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.795);
  padding-bottom: 7px;
}

.contenedor-formulario {
  width: 40%;
}

.contenedor-formulario input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid white;
  border-radius: 4px;
  color: ivory;
  background: none;
  font-size: 15px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  color: white;
  background: none;
  font-size: 15px;
}

::placeholder {
  font-weight: 400;
  font-size: 15px;
  color: rgba(240, 248, 255, 0.836);
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus {
  border: 2px solid #0ca593;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(255, 144, 0, 0.6);
  outline: 0 none;
}

input[type="submit"] {
  background-color: #0bceaf;
  border: none;
  width: 100%;
  border-radius: 25px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.fondocliente {
  background-image: url(../images/fondonuevo.gif);
}

/*------------------------- footer----------------*/
.contenedor-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 40px;
  
}

.titulofinal {
  width: 30%;
}

.titulocopy {
  font-size: 15px;
  color: rgba(255, 255, 240, 0.884);
}

.contenedor-footer .redes  {
  display: flex;
  width: 30%;
  padding-top: 0px;
}

.contenedor-footer .redes  ul li {
  list-style: none;
  font-size: 15px;
  padding-right: 20px;
  display: inline;
 
}

.contenedor-footer i {
  color: mintcream;
}

/*------------------------- REDES----------------*/

.redes .facebook:hover {
  color:#28438a;
}

.redes .twitter:hover{
  color: #3e8fce
}

.redes .linkedin:hover{
  color: #127a9f ;
}

.redes .internet:hover{
  color: #ce1b05;
}



/* -----------------------------------MEDIA------------------------------------------------------------------*/


@media screen and (max-width: 925px) {
  /*----------------------contactme---------------------*/
  .contenedor-contact-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .subcontenedor-contact-me {
    width: 60%;
    margin-bottom: 50px;
  }

  .contenedor-formulario {
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  /*----------------------portfolio---------------------*/
  .contenedor-portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
/* -------------interested----------*/
  .subcontenedor-interested {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  /*----------------------featured projects---------------------*/
  .contenedor-featured-projects {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  .imagen-projects {
    width: 80%;
    margin-bottom: 40px;
  }

  .contenido-projects {
    width: 60%;
  }

  /*----------------------what i do---------------------*/
  .contenedor-what-i-ido {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .caja-what-i-do {
    width: 60%;
    word-wrap: break-word;
    margin-bottom: 50px;
  }

  /*----------------------pricingtable---------------------*/

  .contenedor-pricing-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bloque-pricing {
    width: 60%;
    height: auto;
    padding: 30px;
    margin-bottom: 50px;
  }

  /*----------------------work-education---------------------*/

  .contenedor-education-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .education {
    width: 70%;
  }

  .work {
    width: 70%;
  }

  /*----------------------featured post---------------------*/

  .contenedor-featured-posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .bloque-featured-posts {
    width: 60%;
    height: auto;
    padding: 0px;
    margin-bottom: 50px;
  }

  /*----------------------header---------------------*/

  .contenedor-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .izquierda-header {
    width: 80%;
    margin-bottom: 60px;
  }

  .imagenheader {
    display: none;
  }

/*------------------------- menu----------------*/
  .topnav a {
    display: none;
  }

  .topnav a:hover {
    border-bottom: none;
    color: #40cebd
  }

.topnav {
  padding: 30px 0px 10px 0px;
  background: rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
  position: fixed;
}

  .topnav a.icon {
    float: right;
    display: block;
    font-size: 30px;
  }


  .topnav.responsive {
    position: fixed;
  }
  
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    display: block;
    text-align: center;
  }

  .topnav.responsive .icon:hover {
    background: none;
    color:#40cebd
  }

  .topnav.responsive a:hover {
    background:#40cebd;
    color: black;
    border-bottom: none;
  }

  



  /*----------------------clients---------------------*/

  .contenedor-clients-reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .bloque-cliente {
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 50px;
  }

  .bloque-cliente img {
    margin-bottom: 0px;
    margin-right: 40px;
  }

  .bloque-cliente p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 630px) {
  /*----------------------contactme---------------------*/
  .datos-contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subcontenedor-contact-me {
    width: 80%;
  }
  .contenedor-contact-me i {
    font-size: 22px;
    padding: 35px;
    margin-bottom: 20px;
    border-radius: 50%;
    margin-right: 0px;
  }

  /*------------------------- contact boton----------------*/
  .contenido-texto-contact {
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contenido-texto-contact h3 {
    margin-bottom: 10px;
  }

  .contenido-texto-contact p {
    padding-bottom: 10px;
  }

  /*----------------------aboutme---------------------*/

  .contenedor-principal-about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imagen-about-me {
    width: 80%;
    margin-bottom: 40px;
  }

  .contenedor-about-me {
    width: 80%;
  }

  /*----------------------clients reviews---------------------*/
  .contenedor-clients-reviews {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .bloque-cliente {
    width: 60%;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .bloque-cliente img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 450px) {
  
  /*------------------------- Tamaños finales----------------*/
  
  .caja-what-i-do {
    width: 90%;
  }

  .imagen-projects {
    width: 90%;
    margin-bottom: 40px;
  }

  .contenido-projects {
    width: 90%;
  }

  .education {
    width: 90%;
  }

  .work {
    width: 90%;
  }

  .subcontenedor-interested {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bloque-pricing {
    width: 90%;
  }

  .bloque-featured-posts {
    width: 90%;
  }

  .bloque-cliente {
    width: 90%;
  }

  .contenedor-formulario {
    width: 90%;
  }

  .titulofinal {
    width: 40%;
  }
  
  .contenedor-footer .redes {
    width: 50%;
  }


}

